<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-collection.html">

<dom-module id="a-lijst">
  <style>
    :host {


    }

    a-meldingitem {
      
    }
  </style>
  <template>


    <firebase-collection id="fbColl" location="{{fblocation}}" data="{{userMeldingen}}" log></firebase-collection>

    <template is="dom-repeat" items="{{userMeldingen}}">
      <a-meldingitem key="{{item.key}}"></a-meldingitem>
    </template>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'a-lijst',

    properties: {
      userid: {
        type: String,
        value: '',
        notify: true,
        observer: '_userChanged'
      }
    },

    _userChanged: function(){
      console.log('user from lijst: ',this.userid);

      this.fblocation = 'https://blazing-fire-6426.firebaseio.com/ophaal/user/'+this.userid+'/meldingen/';
    },

    ready: function(){
      //this.fblocation = 'https://blazing-fire-6426.firebaseio.com/ophaal/user/'+this.userid;
    }

  });
})();
</script>
