<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/firebase-element/firebase.html">



<dom-module id="a-meldingitem">
  <style>
    :host {
      display: block;

    }

    .cardje {
      width: 360px;
      padding: 0px;
      background-color: white;
      margin: 30px 0px 0px 0px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.2);

    }

    h2 {
      margin: 0px 0px 0px 0px;
      padding: 20px;
      font-size: 24px;
      font-weight: 300;
      text-transform: capitalize;
      color: black;
    }

.titelholder {
padding: 20px;
}
    img {
      margin: 0px 0px 0px 0px;
            width: 360px;

    }

    google-map {
      margin: 0px 0px 0px 0px;
      padding: 0px;
      height: 150px;
      width: 360px;
    }




  </style>
  <template>
   
  <template is="dom-if" if={{resolve}}>
    <div class="cardje layout vertical">
      <div class="titelholder">
        <h2>{{datum}}</h2>
     </div>

     <p>Status: <span>{{status}}</span></p>
     <img src="{{image}}" />

   </div>

     <google-map zoom="17" disable-default-ui longitude="{{longitude}}" latitude="{{latitude}}" draggable="false">
      <google-map-marker latitude="{{latitude}}" longitude="{{longitude}}"
          title=""></google-map-marker>
     </google-map>


     <img src="{{image}}" />

   </div>
</template>
<!--      <p>{{newdatum}}</p>
 -->
     
<!--     <p>{{kleur}}</p> -->
  </template>
</dom-module>

<script>
(function() {


  Polymer({
    is: 'a-meldingitem',

    properties: {
      key: {
        type: String,
        value: '',
        notify: true,
        observer: 'hasvalue'
      }
    },


      ready: function(){
        //console.log('i has streets loaded');
        this.hasvalue();
      },

      hasvalue: function(){
        console.log(this.key);
        var that = this;
        var getFB = new Firebase('https://blazing-fire-6426.firebaseio.com/ophaal/meldingen/'+this.key);
        getFB.once('value', function(snap){
          that.longitude = snap.val().lon;
          that.latitude = snap.val().lat;
          that.status = snap.val().status;
          console.log(that.latitude, snap.val().lat);
          that.image = snap.val().image.detail;
          moment.locale('nl');
          that.datum = moment(snap.val().tijd).format('dddd D MMMM, HH:mm');
          that.resolve = true;
        });
      }
     
  });
})();
</script>
