<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- Iron elements -->
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<!-- Neon elements -->
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable.html">

<!-- Leaflet elements -->
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/leaflet-map/leaflet-map.html">

<!-- Paper elements -->
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">

<!-- Platinum elements -->
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-register.html">

<link rel="import" href="../../bower_components/firebase-element/firebase.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-collection.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">
  <link rel="import" href="../../bower_components/firebase-element/demo/x-pretty-json.html">

<script src="../../bower_components/momentjs/moment.js"></script>
<script src="../../bower_components/momentjs/locale/nl.js"></script>

<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<!-- Add your elements here -->
<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="my-greeting/my-greeting.html">
<link rel="import" href="my-list/my-list.html">
<link rel="import" href="a-melding/a-melding.html">
<link rel="import" href="a-meldingitem/a-meldingitem.html">

<link rel="import" href="a-meldmap/a-meldmap.html">

<!-- Configure your routes here -->
<link rel="import" href="routing.html">
<link rel="import" href="a-button/a-button.html">
<link rel="import" href="a-smallbutton/a-smallbutton.html">

<!-- Vendor stuff -->
<script src="../bower_components/qrjs/qr.js"></script>
<link rel="import" href="../bower_components/webcomponent-qr-code/src/qr-code.html">
<link rel="import" href="a-showgeo/a-showgeo.html">
<link rel="import" href="a-smallbutton/a-smallbutton.html">
<link rel="import" href="a-choicebutton/a-choicebutton.html">
<link rel="import" href="a-badge/a-badge.html">
<link rel="import" href="a-pages/a-pages.html">
<link rel="import" href="a-lijst/a-lijst.html">




<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

