<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../ons-animatie-in.html">
<link rel="import" href="../ons-animatie-uit.html">
<link rel="import" href="../ons-animatie-thinking.html">

<dom-module id="a-choicebutton">
  <style>
    :host {
      display: block;
      margin: 0px 10px 0px 10px;
      
    }

.mainimgs {
/*  background-color: rgba(255,255,255,0.15);*/
  border-radius: 25px;
  width: 70px;
  height: 70px;
}

.mainimgs img {
  width: 70px;
  height: 70px;
}

.mainimgs:hover {
  cursor: pointer;
}

.icon {
  position: absolute;
}

#wit {
/*  background-color: rgba(0,0,0,0.1);
*/  border-radius: 36px;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid white;
}

#nietwit {
  background-color: rgba(255,255,255,0.1);
  border-radius: 35px;
  width: 100%;
  height: 100%;
  margin: auto;
}

  </style>
  <template>
    
    <div class="mainimgs" on-click="toggleSelect">
      <img class="icon" id="drop" src="{{icon}}">
      <template is="dom-if" if="{{selected}}">
        <div id="wit"></div>
      </template>
      <template is="dom-if" if="{{!selected}}">
        <div id="nietwit"></div>
      </template>
    </div>
    
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'a-choicebutton',

    behaviors: [
      Polymer.NeonAnimationRunnerBehavior
    ],

    properties: {

    icon: {
        type: String,
        value: '',
        observer: 'hasvalue'
      },

    state: {
        type: String,
        value: '',
        observer: 'stateChanged',
        notify: true
    },

    selected: {
        type: Boolean,
        value: false,
        notify: true
    },

    animationConfig: {
      value: function() {
        return {
          'entry': {
            name: 'ons-animatie-in',
            node: this.$.wit,
            timing: {duration: 1200}
          },
          'thinking': {
            name: 'ons-animatie-thinking',
            node: this.$.drop,
            timing: {duration: 1200}
          },

        }          
      }
    }
  },

    listeners: {
    // this event is fired when the animation finishes
      'neon-animation-finish': '_onNeonAnimationFinish'
    },

    _onNeonAnimationFinish: function(){
      this.checkWhattodo();
    },

    checkWhattodo: function(){
      if(this.state=='waiting'){
        this.playAnimation('entry');
      } else {
        this.playAnimation('thinking');
      }
    },

    toggleSelect: function(){
      this.selected =! this.selected;
      console.log('ik ben ', this.selected);
      this.fire('select', { 'detail':this.selected });
    },

    ready: function(){
      //this.playAnimation('entry');
      this.selected = false;
    },

    stateChanged: function(){
      console.log('button state changed: ', this.state);
    }
    
  });
})();
</script>
