<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

<link rel="import" href="../elements.html">
<dom-module id="a-pages">
  <style>
    
  :root {
    --primary-blue: #219dc8;
    /*--primary-blue: #3A52F0;*/
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .canvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 6%;
    @apply(--layout-vertical);
    @apply(--layout-center-center);
  }


    .canvas2 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 6% 0px 0px 0px;
    @apply(--layout-vertical);
    @apply(--layout-center-center);
  }

  paper-toolbar {
    background-color:  var(--primary-blue);
    height: 9%;
    min-height: 46px;
  }

  neon-animatable {
    height: 91%;
    overflow: scroll;
  }

  neon-animated-pages {
    height: 91%;
  }



.whitespace {
  height: 30px;
}



/* ALL BACKGROUNDS */

  .blueback {
    background-color: var(--primary-blue);
    color: white;
  }

  .whiteback {
    background-color: white;
    color: var(--primary-blue);
  }

   .meldingContainer {
    width: 100%;
/*    background-color: yellow;*/
  }


/* GENERAL TYPO  */

    h1,h2 {
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      line-height: 125%;
    }

    h3 {
      font-weight: 800;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      line-height: 125%;
    }

/* ALL MATTERS BIGBTN */

.bigbtns {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  outline: 0;
  border-style:none;
  -webkit-appearance: none;
  background-color: transparent;
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
/*      border: 1px solid black;*/
  box-shadow: 1px 1px 4px rgba(0,0,0,0.20);
/*      color: rgba(0,0,0,0.5);*/
  text-transform: uppercase;
}

.bigbtns:hover {
  background-color: rgba(255,255,255,0.20);
}

/* ALL MATTERS DRAWER */

  .drawerbtn {
    cursor: pointer;
        margin: 6px 0px 0px 6px;

  }

  paper-drawer-panel {
    height: 100%;
  }

  .drawer {
    @apply(--layout-vertical);
    padding: 30px;
    box-sizing: border-box;
  }

  .drawerpart {
        @apply(--layout-horizontal);

    width: 100%;
    margin: 10px 0px 10px 0px;
  }



  .drawer-iconsbox {
    width: 50px;
    display: block;
  }


  .drawer-icons {
    width: 50px;
    max-height: 50px;
    padding: 0px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
  }


.textje {
    max-width: 68%;
    padding: 0px 0px 0px 7%;
    display: block;
}

    p {

    font-size: 14px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    line-height: 140%;

  }


  .topmargin {
    margin-top: 30px;
  }



 a-choicebutton {
  width: 70px;
  height: 70px;
  margin: 6px 0px 6px 0px;
  }


  .subtext {
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
  }

  </style>
  <template>
    <script src="../../bower_components/base-64/base64.js"></script>
    <paper-drawer-panel id="paperDrawerPanel" force-narrow="true" >
      <div drawer class="blueback drawer vertical layout">

        <h2>Gebruik deze app om zwerfvuil te melden.</h2>

        <div class="drawerpart">
          <img class="drawer-icons" src="../../images/icon-loc2.svg">
          <div class="textje"><p>Geef toestemming om je locatie door te geven.</p></div>
        </div>

        <div class="drawerpart">
          <img class="drawer-icons" src="../../images/icon-img.svg">
          <div class="textje"><p>Maak een foto van het afval.</p></div>
        </div>

<!--         <div class="drawerpart">
          <img class="drawer-icons" src="../../images/icon-img.svg">
          <div class="textje"><p>Kies de grootte</p></div>
        </div> -->

        <div class="layout horizontal start drawerpart">
<!--           <img class="drawer-icons" src="../../images/icon-img.svg"> -->
          <p>Kies om welk type afval het gaat: een vuile straat, afvalzakken of groot huisvuil.<br><br>
          Klaar! Je kan een nieuwe melding starten, of jouw melding opvolgen.</p>
        </div>

        <div class="flex"></div>

        <p><i>This is an app from Antwerp</i></p>

<!--         <small>{{userid}}</small> -->

      </div>

          <div main class="blueback" >
          <!-- <iron-pages attr-for-selected="data-route" selected="{{route}}"> -->
            <img class="drawerbtn" src="/images/a_wit-rgb.svg" paper-drawer-toggle>
<!--             <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
 -->

           <iron-localstorage name="ophaal-bendillen2" value="{{userid}}"></iron-localstorage>

          <neon-animated-pages selected="{{selected}}" id="pages" 
            entry-animation="{{entryAnimation}}"
            exit-animation="{{exitAnimation}}"
            timing="{{timing}}">

            <neon-animatable>
            <div class="canvas blueback flex">

              <a-button icon="../../images/icon-loc2.svg" on-click="askLocPerm" state="{{buttonState}}" size="big"></a-button>

              <div class="whitespace"></div>

              <div class="subtext" id="subtext">Klik op de ballon om je locatie door te geven.</div>

              <template is="dom-if" if="{{aanTal}}">
        
              <a-badge number="{{aanTal}}" on-click="viewMeldingen"></a-badge>

              </template>

              <template is="dom-if" if="{{locationPerm}}">
              <leaflet-map>
                <leaflet-geolocation on-locationfound="_next" enable-high-accuracy
                  latitude="{{latitude}}" longitude="{{longitude}}" accuracy="{{accuracy}}">
                </leaflet-geolocation>
              </leaflet-map>
              </template>

              </div>

              </neon-animatable>


            <neon-animatable>
                        <div class="canvas blueback flex">


              <a-melding userid="{{userid}}" latitude="{{latitude}}" longitude="{{longitude}}" on-fileready="_confirm" filedata="{{filedata}}"></a-melding>
              <div class="whitespace"></div>
              <div class="subtext" id="subtext2">Klik op de camera om een foto te maken.</div>
          
                          </div>

            </neon-animatable>

            <neon-animatable>

                <div class="canvas blueback flex">
                <div class="subtext" id="subtext3">Geef de hoeveelheid afval aan.</div>
                <div class="whitespace"></div>
<!--                 <p>FILE</p>
                <p>{{filedata}}</p> -->

                <a-choicebutton id="drol" icon="../../images/icon-VUIL-01.svg" state="waiting" on-select="select" selected="{{select1}}"></a-choicebutton>
                
                <a-choicebutton id="zak" icon="../../images/icon-VUIL-02.svg" state="waiting" on-select="select" selected="{{select2}}"></a-choicebutton>

                <a-choicebutton id="sluik" icon="../../images/icon-VUIL-03.svg" state="waiting" on-select="select" selected="{{select3}}"></a-choicebutton>
                <div class="whitespace"></div>
                <a-smallbutton disabled="{{itemselected}}" icon="../../images/icon-OK.svg" state="waiting" on-klik="verzenden"></a-smallbutton>

                </div>
            </neon-animatable>

            <neon-animatable>

                <div class="canvas blueback flex">

                <paper-icon-button icon="arrow-back" on-click="naarOverzicht"></paper-icon-button>

                <div class="meldingContainer layout horizontal wrap">
                   <firebase-collection id="fbColl" location="{{fblocation2}}" data="{{userMeldingen}}" order-by-child="date"></firebase-collection>

    <template is="dom-repeat" items="{{userMeldingen}}">
      <a-meldingitem key="{{item.key}}"></a-meldingitem>
    </template>
                </div>
                  <!-- <paper-icon-button icon="arrow-back" on-click="naarOverzicht"></paper-icon-button>
                  <a-lijst userid="{{userid}}"></a-lijst> -->
                </div>
            </neon-animatable>

          </neon-animated-pages>

          </div>

  </paper-drawer-panel>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'a-pages',

    behaviors: [
      Polymer.NeonAnimationRunnerBehavior
    ],

    properties: {
      foo: {
        type: String,
        value: 'bar',
        notify: true
      },
      userid: {
        type: String,
        value: '',
        notify: true,
        observer: '_useridChanged'
      },
      usermeldingen: {
        observer: '_meldingChanged'
      },

      animationConfig: {
      value: function() {
        return {
          'subtext': 
            { name: 'fade-in-animation', 
              node: this.$.subtext,
              timing: {
                  delay: 7000
              }
            },
          'subtext2': 
            { name: 'fade-in-animation', 
              node: this.$.subtext2,
              timing: {
                  delay: 7000
              }
            },
          'subtext3': 
            { name: 'fade-in-animation', 
              node: this.$.subtext3,
              timing: {
                  delay: 7000
              }
            }
        }
      }
    }
    },

    viewMeldingen: function(){
      this.selected = 3;
      console.log('yoyoyoyo');
    },

    naarOverzicht: function(){
      this.selected = 0;
    },

    _meldingChanged: function(){
      //console.log('melding aantal: ', this.usermeldingen);
      //this.aantal = this.usermeldingen[0].aantal;
    },

  ready: function(){
    this.locationPerm = false;
    this.hasdata = null;
    this.buttonState = 'waiting';
    this.showBadge = false;
    this.selected = 0;
    this.entryAnimation = 'slide-from-right-animation';
    this.exitAnimation = 'slide-left-animation';
    this.aanTal = 0;
    this.playAnimation('subtext');
  },

  _useridChanged: function(){
    console.log('first userid? ',this.userid);

    this.fblocation2 = 'https://blazing-fire-6426.firebaseio.com/ophaal/user/'+this.userid+'/meldingen/';



    var that = this;

    this.fblocation = 'https://blazing-fire-6426.firebaseio.com/ophaal/user/'+this.userid;
    var getAantal = new Firebase('https://blazing-fire-6426.firebaseio.com/ophaal/user/'+this.userid+'/aantal');
    this.aantal = getAantal.on('value', function(snap){
      console.log('aantal:',snap.val());
      that.aanTal = snap.val(); 
    });
  },

  handleResponse: function(e){
    var yo = e.detail.response;
    this.datameld = [];
    for (var i = yo.length - 1; i >= 0; i--) {
      console.log(yo[i]);
    };
  },

  ondata: function(){
    console.log('firebase is heere');
  },

  _next: function(){
    //console.log('next function activated');
    this.playAnimation('subtext2');
    this.selected = 1;
    this.buttonState = 'waiting';
  },

  select: function(){

    this.entryAnimation = 'slide-from-right-animation';
    this.exitAnimation = 'slide-up-animation';

    console.log('trigger select: ',this.select1, this.select2, this.select3);
    if(this.select1||this.select2||this.select3==true){
      this.itemselected = true;
    } else {
      this.itemselected = false;
    }

  },

  _confirm: function(){
    this.playAnimation('subtext3');
    this.selected = 2;
  },

  askLocPerm: function(){
    this.buttonState = 'thinking';
    this.locationPerm = true;
    if(this.latitude){
      this.selected = 1;
    };
  },

  verzenden: function(){
    console.log('shit verzenden');
    
    this.showBadge = true;
    this.buttonState = 'waiting';
    this.locationPerm;
    this.select1 = false;
    this.select2 = false;
    this.select3 = false;

    if(this.userid==null){
      this.userid = uuid.v1();
    };

    console.log('ik ga saven: ', this.longitude, this.latitude, this.filedata);

    var today = Date.now();

    var testFB = new Firebase('https://blazing-fire-6426.firebaseio.com/ophaal/meldingen');

    var userid = this.userid;

    var testID = testFB.push({'lon':this.longitude, 
                              'lat':this.latitude, 
                              'image':this.filedata, 
                              'tijd': today, 
                              'user': userid,
                              'status': "2",
                              'tags': { '1': this.select1, '2': this.select2, '3': this.select3 }
                             });

    var newKey = testID.key();

    // var zappFB = new Firebase('https://blazing-fire-6426.firebaseio.com/zapier_queue/out');

    // //var image = base64.decode(this.filedata);

    // var zappIP = zappFB.push({'lon':this.longitude, 
    //                           'lat':this.latitude, 
    //                           'image':this.filedata, 
    //                           'tijd': today, 
    //                           'user': userid,
    //                           'key': newKey,
    //                           'tags': { '1': this.select1, '2': this.select2, '3': this.select3 }
    //                          });

    console.log(newKey);

    var userMelding = new Firebase('https://blazing-fire-6426.firebaseio.com/ophaal/user/'+userid+'/meldingen');

    var usermeldingID = userMelding.push({'key': newKey, 'date': today });

    var userAantal = new Firebase('https://blazing-fire-6426.firebaseio.com/ophaal/user/'+userid+'/aantal');

    userAantal.transaction(function(currentRank) {
    // If /users/fred/rank has never been set, currentRank will be null.
    return currentRank+1;
    });


    this.imageval = null;

    this.comment = '';

    this.entryAnimation = 'fade-in-animation';
    this.exitAnimation = 'fade-out-animation';

    this.playAnimation('subtext');
    this.selected = 0;

  },

  refreshMap: function(){
    console.log('click refresh');
    var gmap = document.getElementById('gmap');
    console.log(gmap);
    gmap._updateMarkers();
  }

  });
})();
</script>
