<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../ons-animatie-in.html">
<link rel="import" href="../ons-animatie-badge.html">
<link rel="import" href="../ons-animatie-uit.html">
<link rel="import" href="../ons-animatie-thinking.html">

<dom-module id="a-badge">
  <style>
    :host {
      display: block;
      margin-top: 20px;
    }

    .badge {
      background-color: #67C79F;
      border-radius: 25px;
      width: 50px;
      height: 50px;
      color: rgba(255,255,255,0.8);
    }

    h3 {
      margin: 0px;
      padding: 0px;
    }

  </style>
  <template>
    <div id="badge" class="badge layout vertical center-center">
      <h3>{{number}}</h3>
    </div>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'a-badge',

    behaviors: [
      Polymer.NeonAnimationRunnerBehavior
    ],

    properties: {

    number: {
        type: Number,
        value: 0,
        observer: 'hasvalue',
        notify: true

    },

    animationConfig: {
      value: function() {
        return {
          'animeren': {
            name: 'ons-animatie-badge',
            node: this.$.badge,
            timing: {duration: 300}
          }
        }          
      }
    }
  },

    listeners: {
    // this event is fired when the animation finishes
      'neon-animation-finish': '_onNeonAnimationFinish'
    },

    _onNeonAnimationFinish: function(){
    },

    klik: function(){
      this.fire('klik');
    },

    ready: function(){
      this.disabled = false;
      this.playAnimation('animeren');
    },

    hasvalue: function(){
      console.log('ANIMEREEEE!!');
      this.playAnimation('animeren');
    }

    
  });
})();
</script>
