<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/firebase-element/firebase.html">



<dom-module id="a-meldingitem">
  <style>
    :host {
      display: block;
      color: #333333;
      margin: 10px;
    }

paper-material {
    border-radius: 2px;
    height: 100%;
    width: calc(98.66% - 16px);
    margin: 16px auto;
    background: white;
    width: 260px;
  }

    .cardje {
      width: 360px;
      padding: 0px;
      background-color: white;
      margin: 30px 0px 0px 0px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    }

    h2 {
      margin: 0px 0px 0px 0px;
      padding: 20px;
      font-size: 24px;
      font-weight: 300;
      text-transform: capitalize;
      color: black;
    }

    .cardcontent {
      padding: 16px;
      margin: 0px auto 0px auto;
    }

.titelholder {
padding: 20px;
}
    img {
      margin: 0px 0px 0px 0px;
      max-width: 100%;
    }
/*
    .imgcontainer {
                  width: 130px;
            height: 130px;
            overflow: hidden;

    }*/

    google-map {
      margin: 0px 0px 0px 0px;
      padding: 0px;
      height: 200px;
      width: 260px;
      max-width: 260px;
    }


    .duration {
      font-size: 12px;
    }

    .headImage {
      max-width: 100px;
    }

iron-icon {
  width: 16px;
  margin: 0px 10px 0px 0px;
}


  </style>
  <template>
   
  <template is="dom-if" if={{resolve}}>
    <paper-material>

                

                  <google-map drag-events="false" click-events="false" mouse-events="false" disable-zoom latitude="{{latitude}}" longitude="{{longitude}}" zoom="17" disable-default-ui additional-map-options='{"draggable":false}'>
                    <google-map-marker latitude="{{latitude}}" longitude="{{longitude}}"></google-map-marker>
                  </google-map>  

                  <div class="cardcontent"> 

<!--                     <p>
                    <iron-icon icon="icons:build"></iron-icon>
                    <span>{{status}}</span></p>

                    <p>
                    <iron-icon icon="icons:create"></iron-icon>
                    <span>{{datum}}</span></p>

                    <p>
                    <iron-icon icon="icons:alarm"></iron-icon>
                    <span>{{duration}}</span> geleden</p>

                    <p>
                    <iron-icon icon="editor:attach-file"></iron-icon>

                    <img src="{{image}}" class="headImage"></p> -->

                    <p>
                    <span>{{status}}</span><br>
                    <span class="duration"><span>{{duration}}</span> geleden</span></p>

                    <p>

                    <div class="layout horizontal start"><iron-icon icon="editor:attach-file"></iron-icon>
<img src="{{image}}" class="headImage"></p></div>





<!--                     <paper-button on-click="sendPlanning"><iron-icon icon="icons:assignment"></iron-icon> Naar planning</paper-button> -->

                  </div>
              
                </paper-material>
</template>
<!--      <p>{{newdatum}}</p>
 -->
     
<!--     <p>{{kleur}}</p> -->
  </template>
</dom-module>

<script>
(function() {


  Polymer({
    is: 'a-meldingitem',

    properties: {
      key: {
        type: String,
        value: '',
        notify: true,
        observer: 'hasvalue'
      }
    },


      ready: function(){
        //console.log('i has streets loaded');
        this.hasvalue();
        
      },

      sendPlanning: function(){
        console.log('to planning: ', this.key);
        this.fire('toplanning', { 'msg': this.key});
      },

      hasvalue: function(){
        //console.log(this.key);
        var that = this;
        var getFB = new Firebase('https://blazing-fire-6426.firebaseio.com/ophaal/meldingen/'+this.key);
        getFB.once('value', function(snap){
          that.longitude = snap.val().lon;
          that.latitude = snap.val().lat;
          
          if(snap.val().status=="0"){
            that.status = 'Klaar'; 
          };

          if(snap.val().status=="1"){
            that.status = 'Wordt momenteel opgeruimd'; 
          };

          if(snap.val().status=="2"){
            that.status = 'Melding ontvangen'; 
          };

          console.log(that.latitude, snap.val().lat);
          that.image = snap.val().image.detail;
          moment.locale('nl');
       
          that.duration = moment(snap.val().tijd).toNow(true); // "a day ago"
          that.datum = moment(snap.val().tijd).format('dddd D MMMM, HH:mm');
          that.resolve = true;
        });
      }
     
  });
})();
</script>
