<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../a-button/a-button.html">
<link rel="import" href="../a-smallbutton/a-smallbutton.html">

<dom-module id="file-upload">
  <template>
  <style>



    #file {
/*            width: 200px;
      height: 200px;*/
/*      @apply(--layout-fit);*/
      position: absolute;
      width: 200px;
      height: 200px;   
      margin: 0px;
      opacity: 0;
      z-index: 9999;
 
    }



  #file:hover {
  cursor: pointer;

    }


  .imagery img {
    max-width: 80%;
    max-height: 400px; 
  }




  </style>
<link rel="stylesheet" href="file-upload.css">
                <div class="imagery layout vertical center-center">


      <input type="file" name="File" id="file" on-change="setFiles" capture="camera" accept="image/*" >

<!--       Button is gecentreerd! Nu nog juiste functie meegeven? -->
      <a-button icon="{{icon}}" state="{{buttState}}" id="abutton"></a-button>
      
      
      </div>

  </template>
  </dom-module>
  <script>
    (function () {
      'use strict';

      function openCam(){
        var fileDialog = document.getElementById("file");
        console.log(fileDialog);
        fileDialog.click();
      }

      var imgval;

      Polymer({

        is: 'file-upload',

        properties: {
          imgval: {
            type: String,
            notify: true
        }

        },

        ready: function(){
          this.hasimage = false;
          this.icon = '../../images/icon-img.svg';
          this.buttState = "waiting";
        },

        setFiles: function(){

          //this.buttState = "thinking";
          //console.log('Set files started');
          this.fileInput = this.$.file.files[0];
          //this.imageType = /image.*/;
          var that = this;
          // if (this.fileInput.type.match(this.imageType)) {
          //console.log('das godver een goeie image jong');
          var reader = new FileReader();

          var img = document.createElement("img");
          //console.log('reader: ', reader);
          reader.onload = function(e) {
          //console.log(reader.result);]
            console.log('de reader wordt uitgevoerd');
            //that.$.abutton.hidden = true;
            that.hasimage = true;
            that.imgval = reader.result;

            var canvas = document.createElement('canvas');

            img.src = reader.result;

            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);

            var MAX_WIDTH = 400;
            var MAX_HEIGHT = 400;
            var width = img.width;
            var height = img.height;

            if (width > height) {
              if (width > MAX_WIDTH) {
                height *= MAX_WIDTH / width;
                width = MAX_WIDTH;
              }
            } else {
              if (height > MAX_HEIGHT) {
                width *= MAX_HEIGHT / height;
                height = MAX_HEIGHT;
              }
            }
            canvas.width = width;
            canvas.height = height;

            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0, width, height);

            var dataurl = canvas.toDataURL("image/png");
            //document.getElementById('image').src = dataurl;

            that.fire('imageReady', {'detail': dataurl});
            //console.log('Has image: ', dataurl);
            
            //that.buttState = "waiting";

            //console.log(dataurl);
          }


          reader.readAsDataURL(this.fileInput);
                    // }

        }
        
      });

    })();
  </script>

